# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# LlamaIndex data or temp files
tmp_docs/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and output
*.log
*.out
*.tmp

# Pytest
.cache/

# MyPy and Ruff
.mypy_cache/
.ruff_cache/
